@charset "utf-8";
/* CSS Document */

/*
 color scheme: https://coolors.co/2f4858-33658a-86bbd8-f6ae2d-f26419
  dark blue: #2f4858
  blue: #33658a
  light blue: #86bbd8;
  orange: #f6ae2d
  dark-orange: #f26419
*/

img, 
embed, 
object, 
video {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}
body {
  background-color: #f3f3f3;
	margin: 0;
  position:relative;
  width: 100%;
}
header {
  width: 100%;
  position: relative;
  z-index: 1000;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: #f6ae2d;
	text-decoration: none;
}

.filter-options select:hover, 
.filter-options select:focus {
  outline: 0;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.8);
} 

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1rem;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  width: 100%;
  margin: 0 auto;
}
#footer {
  background-color: #2f4858;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  z-index: 1000;
}
/* ====================== Navigation ====================== */
h1 {
  text-align: center;
  height: 80px;
  background-color: #2f4858;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: auto; 
}

h1 a {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #33658a;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 200px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #33658a;
  align-items: center;
  padding: 15px;
}
.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
}
.filter-options select {
  background-color: white;
  border: none;
  height: 35px;
  padding: 0 10px;
  width: 100%;
  justify-content: center;
}

.filter-options #cuisines-select {
  margin-top: 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 5px 15px 15px 0;
  text-align: center;
  align-items: stretch;
  align-content: stretch;
  display: flex;
  flex-wrap: wrap; 
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px 0 0 15px;
  min-height: 380px;
  padding: 15px;
  text-align: left;
  width: 100%;
  position: relative;
}


#restaurants-list .restaurant-img {
  background-color: #ccc;
  /* min-height: 248px; */
  width: 100%;
}
#restaurants-list li h2 {
  color: #f26419;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
}
#restaurants-list li a {
  background-color: #f6ae2d;
  color: #000;
  display: inline-block;
  font-size: 1rem;
  margin: 15px 0 0;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-favorite {
  position: absolute;
  top: 22px;
  left: 22px;  
  background-color: white;
  color: grey;
  border: 2px solid white;
  border-radius: 50%;
  opacity: 0.9;
  padding: 0;
  font-size: 35px;
  line-height: 35px;
  width: 48px;
  height: 48px;
}

.is-favorite {
  color: red;
}
 
.btn-favorite:hover,
.btn-favorite:active {
  box-shadow: 0 0 8px #fff;
}


/* ====================== Restaurant Details ====================== */
#map-container {
  width: 100%;
}

#restaurant-name {
  color: #f26419;
  font-family: Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0 0 15px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}


#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 15px;
  width: 100%;
}
#reviews-container {
  padding: 15px;
}
#reviews-container h2 {
  color: #f26419;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 15px;
  position: relative;
  width: 100%;
}

.review-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.review-date {
  font-style: italic;
  margin: 0;
}


#restaurant-hours td {
  color: #666;
}


@media screen and (min-width: 500px) {

  .filter-options select {
    width: calc((100% - 15px)/2);
  }

  .filter-options #cuisines-select {
    margin-top: 0;
  }

  #neighborhoods-select{
    margin-right: 10px;
  }
}


@media screen and (min-width: 640px) {

  #restaurants-list li {
    width: calc(100%/2 - 15px);
  }

  .inside #map-container {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
  }

  .inside #map {
    height: 100%;
  }

  #restaurant-container,
  #reviews-container,
  #breadcrumb {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {

  #restaurants-list li {
    width: calc(100%/3 - 15px);
  }
}


@media screen and (min-width: 1400px) {

  #restaurants-list li {
    width: calc(100%/4 - 15px);
  }
}